.planning {
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  padding: 1.5rem;
  grid-row: span 2;

  overflow: auto;
  scrollbar-width: none;


  h2 {
    margin: 1rem 0;
  }

  .task{
    margin: 1rem 2rem;
    
    display: flex;
    align-items: center;
    gap: 1rem;

    font-size: 1.3rem;

    .task__hours{
      font-size: 1.4rem;
      font-weight: 700;
    }

    .task__sep{
      width: 2px;
      height: 3rem;
      background-color: #00BFB2;
    }

    .task__description{


      .task__description_text{
        color: rgb(169, 174, 180);
        font-size: 1.2rem;
      }
    }
  }
}
