.header{

    margin: 3rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    h1{
        font-size: 5rem;
        letter-spacing: 0.2rem;
        color: #403B7B;
        font-weight: 700;
    }
}